<!-- About.html -->
{% extends "home/base.html" %}
{% load static wagtailcore_tags blogapp_tags wagtailroutablepage_tags %}

{% block content %}

<div class="container mt-4" id="nav-container">
  <h3 class="blog-text">About</h3>
  <br>
  <div class="row">
    <div class="col-md-8">
      <p class="pt-0 mb-5">{{ about.body|richtext }}</p>
    </div>
  </div>
</div>

{% endblock %}
