{% load wagtailcore_tags wagtailroutablepage_tags %}

{% block content %}
  <h1>{{ page.title }}</h1>

  {{ page.body|richtext }}

  <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>

{% endblock %}

  {% if page.tags.all.count %}
    <div class="tags">
      <h3>Tags</h3>
      {% for tag in page.tags.all %}
        <a href="{% routablepageurl blog_page 'post_by_tag' tag.slug %}">{{ tag }}</a>
      {% endfor %}
    </div>
  {% endif %}

  {% with categories=page.categories.all %}
    {% if categories %}
      <h3>Categories</h3>
      <ul>
        {% for category in categories %}
          <li style="display: inline">
            <a href="{% routablepageurl blog_page 'post_by_category' category.slug %}">
              {{ category }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}


