{% load static wagtailcore_tags wagtailimages_tags blogapp_tags wagtailroutablepage_tags el_pagination_tags %}

<form role="search" method="get" class="form-search" action="{% routablepageurl blog_page 'post_search' %}">
  <div class="input-group">
    <input type="text" class="form-control search-query" name="q" placeholder="Search&hellip;" title="Search for:" />
    <span class="input-group-btn">
      <button type="submit" class="btn btn-default" name="submit" id="searchsubmit" value="Search">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </span>
  </div>
</form>
